@page
@model PrimerExamen.Pages.Sesion.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Login</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login.Password)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Login.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
