@page
@model PrimerExamen.Pages.Sesion.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Login.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
